// ===================================================================================
//    BASE.LESS - базовые стили для всего сайта
// ===================================================================================

@font-face { //пример подключения нестандартных шрифтов
	font-family: 'OpenSansRegular';
	src: url('../fonts/opensans-regular.eot');
	src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-regular.woff') format('woff'),
		 url('../fonts/opensans-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/opensans-bold.eot');
	src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-bold.woff') format('woff'),
		 url('../fonts/opensans-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

body{
	-webkit-font-smoothing: antialiased; //сглаживание шрифтов только в webkit браузерах
	font-family: 'OpenSansRegular'; //устанавливаем нестандартный шрифт для документа
	font-size: 14px; //базовый размер шрифта
	// background: #fff url(../img/bg-pattern.png); //фоновая картинка, если понадобиться
}

.top{
	width: 100%;
	height: 9px;
	background:url(../img/up.jpg);
}
.bot{
	width: 100%;
	height: 9px;
	background:url(../img/down.jpg);
}

.container2 {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

// ===================================================================================
//    UL and LI - глобальные стили для списков
// ===================================================================================

ul{
	padding: 0; //убираем внутренний отступ у маркированного списка 
}

ol{
	padding: 0; //убираем внутренний отступ у нумерованного списка
}

li{
	list-style: none; //убираем отображение точек у списков
	:first-child{ //первый пункт любого списка

	}
	:last-child{ //последний пункт любого списка

	}
}

// ===================================================================================
//    H1-h6 - глобальные стили для заголовков
//    раскомментируйте при надобности
// ===================================================================================

h1{
	font-size: 50px;
	font-family: 'OpenSansBold';
	text-transform: uppercase;
	text-align: center;
	color: #000;
}

h2{
	font-size: 30px;
	font-family: 'OpenSansBold';
	color: #000;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 0;
}

h3{
	
}

h4{
	
}

h5{
	
}

h6{
	
}

// ===================================================================================
//    A - глобальные стили для ссылок
// ===================================================================================

a{
	&:hover{//при наведении
		text-decoration: none; //убираем подчеркивание
	}
	&:focus{ //при получении фокуса
		
	}
	&:active{ //при активации ссылки
		
	}
	&:link{ //непосещенная ссылка
		
	}
	&:visited{ //посещенная ссылка
		
	}
}

// ===================================================================================
//    TEXT - глобальные стили для текста
// ===================================================================================

p{ //параграф

}

i{//наклонный текст
	font-style: normal; //убираем наклон шрифта
}

i.head-num{
	margin-right: 5px;
	color: #B8B8B8;
	&:after{
		content: ".";
	}
}

b{//жирный текст

}
em{//тег для акцентрирования (по умолчанию выводиться наклонным)
	font-style: normal; //убираем наклон шрифта
}

// ===================================================================================
//    Button - стили кнопок
// ===================================================================================

.yellow-button{
	background: #EAE100;
	color: #333;
	font-size: 20px;
	padding: 10px 30px;
	margin-right: 50px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 0px 3px rgba(0,0,0, .3);
	position: absolute;
	top: 0;
	right: 28px;
	z-index: 3;
	&:hover{
		color: #000;
		background: #D6CD09;
	}
}

// ===================================================================================
//    FORM - глобальные стили для форм
// ===================================================================================

input[type="radio"] {
    display:none;
}

input[type="text"],
input[type="submit"]{
	border:0;
}

label{
	font-weight: 300;
}

// ===================================================================================
//    OTHER - дополнительные CSS стили
// ===================================================================================

//для изменения цвета текста при выделении используется псевдокласс ::selection
//для применения добавить к текстовому тегу (в данном примере используется 
// синтаксис less)

//&::selection{ //цвет текста при выделении
//	background: #ff5050;
//}