// ===================================================================================
//    CLEARFIX - обнуление float. Не работает в IE ниже 8 версии
//    для применения нужно добавить в родительский блок класс "clearfix"
//    в этом файле передставленны несколько вариантов clearfix
// ===================================================================================

.clearfix{
	*zoom:1;
	&:before,
	&:after{
		display: table;
		content: "";
	}
	&:after{
		clear: both;
	}
}
