// @media (max-width: 1920px) {
// }

// @media (max-width: 1600px) {
// }

// @media (max-width: 1366px) {
// }

// @media (max-width: 1200px) {
// }

@media (max-width: 1024px) {
	body{
		font-size: 12px;
	}
	.yellow-button,
	.head-form{
		margin-right: 0;
	}
	.chto-dast{
		h3{
			font-size: 14px;
		}
		img{
			margin-bottom: 20px;
		}
	}
	.govorit-klient{
		img{
			margin-bottom: 20px;
		}
	}
}


@media (max-width: 992px) {
	body{
		font-size: 14px;
	}
	h1{
		font-size: 35px;
	}
	.header-top img{
		float: none;
		margin: 0 auto;
		display: block;
	}
	.stoit-form{
		padding-top: 30px;
		padding-bottom: 30px;
		background-image: none;
		background-color: #fff;
		.head-form{
			float: none;
			margin: 30px auto;
		}
		.head-akcia{
			float: none;
			margin: 30px auto;
		}
	}
	.besplat-pril{
		img{
			margin: 0 auto 30px;
			display: block;
		}
	}
	.govorit-klient{
		img{
			float: none;
			display: block;
			margin: 0 auto 20px;
		}
	}
	.kto-mi{
		img{
			display: block;
			margin: 0 auto 20px;
		}
		p{
			display: inline;
		}
	}
	.neskolko-voprosov{
		img{
			width: 100%;
		}
		.head-form{
			float: none;
			margin: 20px auto;
		}
	}
	.garantii{
		img{
			display: block;
			margin: 0 auto 20px;
		}
	}
	.chto-dast{
		img{
			float: none;
			display: block;
			margin: 0 auto 20px;
		}
		h3{
			text-align: center;
		}
		.container{
			padding: 50px 2% 0 2%;
		}
	}
	.yellow-button{
		display: none;
	}
	.header{
		background-image: none;
		background: #f1f1f1;
		.head-akcia{
			float: none;
			margin: 0 auto;
		}
		.head-form{
			float: none;
			margin: 20px auto;
		}
	}
	.fakti{
		.col-md-3{
			margin-bottom: 30px;
		}
		.container{
			padding-left: 2%;
			padding-right: 2%;
		}
	}
	.predlogaem{
		ul{
			padding: 0 20px;
		}
	}
	.stoit-form{
		.main-form{
		margin-bottom: 20px;
		}
	}
	.garantii{
		.row{
			margin-top: 30px;
		}
		p{
			display: inline;
		}
	}
	.head-akcia{
		width: 90%;
		padding: 2%;
	}
	.head-form{
		width: 90%;
	}
	.neskolko-voprosov {
		padding: 2% 0;
	}
	.chto-takoe{
		padding: 50px 2%;
		p{
			font-size: 14px;
			text-align: left;
		}
	}
}

// ===================================================================================
//    Стили для классов popup
// ===================================================================================

@media (max-width: 400px) {
	.popup-one,
	.popup-two{
		width: 95%;
	}
}

// ===================================================================================
//    Стили для класса container2
// ===================================================================================

@media (min-width: 768px) {
	.container2 {
	width: 750px;
	}
}
@media (min-width: 992px) {
	.container2 {
	width: 970px;
	}
}
@media (min-width: 1200px) {
	.container2 {
	width: 1170px;
	}
}
@media (min-width: 1366px) {
	.container2 {
	width: 1300px;
	}
}
@media (min-width: 3000px) {
	.container2 {
	width: 1366px;
	}
}

// ===================================================================================
//    Стили для класса container
// ===================================================================================

@media (min-width: 992px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


