@charset "UTF-8";

// ===================================================================================
//    LESS VARIABLES - less переменные
// ===================================================================================

// @varible: 500px; // пример синтаксиса less

// ===================================================================================
//    LESS MIXINS - less миксины (смешение цветов) 
// ===================================================================================

// @color: #fff; // пример синтаксиса less
// darken(@color, 40%); // #999999

// ===================================================================================
//    IMPORT - импортируем less файлы 
// ===================================================================================

@import url('base.less'); //описываются стили для всей страницы
@import url('hack.less'); //хаки, фиксы, и прочее

// ===================================================================================
//    STYLE - основной стиль сайта
// ===================================================================================

.header-top{
	width: 100%;
	// height: 116px;
	box-shadow: 0px 2px 5px rgba(0,0,0, .3);
	position: relative;
	z-index: 5;
	p{
		text-transform: uppercase;
		font-family: 'OpenSansBold';
		text-align: center;
		font-size: 20px;
		display: block;
		margin-top: 30px;
	}
}

.left-img{
	float: left;
}

.right-img{
	float: right;
}

.header{
	// height: 590px;
	padding-bottom: 50px;
	background: url(../img/bg-header.jpg) top center no-repeat;

}
.head-top{
	margin-bottom: 50px;
	position: relative;
	p{
		text-align: center;
		font-size: 20px;
		b{
			font-family: 'OpenSansBold';
			font-size: 25px;
			font-weight: bold;
		}
	}
}

.head-akcia{
	// margin-top: 30px;
	width: 380px;
	float: left;
	padding: 20px 30px;
	background: rgba(255,255,255, .7);
	p{
		text-align: center;
		font-size: 25px;
		text-transform: uppercase;
		font-family: 'OpenSansBold';
		margin-bottom: 0;
	}
	em{
		text-align: center;
		display: block;
		text-decoration: line-through;
	}
	i{
		display: block;
		text-align: center;
		font-style: normal;
		font-size: 12px;
	}
	.red1{
		color: #ff0000;
		font-size: 30px;
	}
	.red2{
		color: #ff0000;
		font-size: 38px;
	}
	.red3{
		font-size: 25spx;
		color: #ff0000;
	}
	.col-xs-3{
		padding: 0;
	}
	.normal-text{
		font-size: 14px;
		margin-bottom: 18px;
	}
}

.counter-bg{
	width: 75px;
	height: 71px;
	margin: 0 auto;
	background: url(../img/bg-counter.png);
	p{
		color: #fff;
		font-size: 50px;
		line-height: 60px;
	}
}

.head-form{
	width: 236px;
	float: right;
	margin-right: 50px;
}

.head-form-top{
	width: 100%;
	height: 52px;
	background: url(../img/bg-head-form.png) repeat-x;
	p{
		color: #fff;
		font-size: 18px;
		text-align: center;
		line-height: 52px;
	}
}

.main-form{
	width: 100%;
	background: rgba(0,169,235, .7);
	// padding-top: 20px;
	// padding-bottom: 20px;
	padding: 20px;
	p{
		text-align: center;
		color: #fff;
		display: block;
		font-size: 13px;
		margin-top: 20px;
		margin-bottom: 0;
	}
	input[type="text"]{
		color: #000;
		// font-size: 16px;
		// padding: 8px 10px;
		border-radius: 2px;
		box-shadow: 1px 2px 3px rgba(255,255,255, .3);
		// width: 174px;
		width: 100%;
		height: 30px;
		text-indent: 13px;
		display: block;
		margin: 0 0 15px 0;
	}
	input[type="submit"]{
		width: 193px;
		height: 56px;
		margin: 10px auto 0;
		display: block;
		font-size: 18px;
		padding-left: 50px;
		line-height: 56px;
		background: url(../img/bg-main-form-button.png) 0 0;
		&:hover{
			background: url(../img/bg-main-form-button.png) 0 -56px;
		}
		&:active{
			background: url(../img/bg-main-form-button.png) 0 -112px;
		}
	}
	label{
		color: #fff;
		font-size: 14px;
		// margin-left: 30px;
		// margin-top: 10px;
		margin-bottom: 10px;
		display: block;
	}
	input[type="radio"] + label span {
		display:inline-block;
		width:14px;
		height:14px;
		margin:-1px 4px 0 0;
		vertical-align:middle;
		background:url(../img/bg-checkbox.png) 0 0;
		cursor:pointer;
	}
	input[type="radio"]:checked + label span {
		background:url(../img/bg-checkbox.png) 0 -14px;
	}
}

.chto-takoe{
	padding: 50px 0;
	p{
		font-size: 20px;
		text-align: center;
	}
}

.fakti{
	background: #F1F1F1;
	.container{
		padding: 50px 0;
		// width: 60%;
	}
	img{
		display: table;
		margin: 0 auto 20px;
	}
	p{
		text-align: center;
	}
	b{
		font-family: 'OpenSansBold';
		font-size: 20px;
		color: #ff4f71;
	}
}

.predlogaem{
	padding-top: 50px;
	padding-bottom: 50px;
	ul{
		display: table;
		margin: 30px auto;
	}
	li{
		// line-height: 24px;
		font-size: 20px;
	}
	img{
		display: block;
		margin: 0 auto 30px;
	}
	p{
		font-size: 20px;
		text-align: center;
		margin-bottom: 50px;
	}
	h2{
		margin-bottom: 20px;
	}
}

.podrobnee{
	display: block;
	text-align: center;
	// margin: 0 auto;
	color: #ff4fa2;
	font-size: 20px;
	text-decoration: underline;
	&:hover{
		color: #ff4fa2;
	}
}

.zakaz{
	width: 356px;
	height: 41px;
	background:url(../img/bg-button.png) 0 0;
	display: block;
	margin: 0 auto;
	color: #000;
	line-height: 41px;
	font-size: 20px;
	text-align: center;
	&:hover{
		background:url(../img/bg-button.png) 0 -41px;
		color: #000;
	}
	&:active{
		background:url(../img/bg-button.png) 0 -81px;
	}
}

.mobile-view{
	.zakaz{
		width: 230px;
		height: 41px;
		background:url(../img/bg-button2.png) 0 0;
		display: block;
		margin: 0 auto;
		color: #000;
		line-height: 41px;
		font-size: 20px;
		text-align: center;
		&:hover{
			background:url(../img/bg-button2.png) 0 -41px;
			color: #000;
		}
		&:active{
			background:url(../img/bg-button2.png) 0 -81px;
		}
	}
}

.chto-dast{
	background: #F1F1F1;
	.container{
		padding: 50px 0;
		// width: 65%;
	}
	.col-md-6{
		margin-bottom: 40px;
	}
	img{
		float: left;
		margin-right: 30px;
	}
	h3{
		font-size: 16px;
		font-family: 'OpenSansBold';
		margin-top: 0;
		margin-bottom: 10px;
	}
	i{
		color: #ff4f71;
	}
}

.skolko-stoit{
	padding-top: 50px;
}

.stoit-form{
	background:url(../img/bg-akcia.jpg) top center no-repeat #F1F1F1;
	box-shadow: 0px 2px 5px rgba(0,0,0, .3);
	width: 100%;
	// height: 823px;
	padding-top: 270px;
	.wrap{
		width: 70%;
	}
	.main-form{
		margin-bottom: 155px;
	}
}

.besplat-pril{
	padding-top: 50px;
	padding-bottom: 50px;
	.container{
		// width: 50%;
	}
	h3{
		font-family: 'OpenSansBold';
		margin-bottom: 10px;
		margin-top: 0;
		font-size: 16px;
	}
	i{
		color: #ff4f71;
		font-style: normal;
	}
	img{
		// margin-bottom: 50px;
		display: block;
		margin: 0 auto 50px;
	}
}

.garantii{
	background: #F1F1F1;
	.container{
		padding-top: 50px;
		padding-bottom: 50px;
		// width: 50%;
	}
	p{
		font-family: 'OpenSansBold';
		font-size: 14px;
		height: 207px;
		display: table-cell;
		vertical-align: middle;
	}
	img{
		margin: 0 auto;
		display: block;
	}
	.row{
		margin-bottom: 40px;
	}
}

.govorit-klient{
	padding-top: 50px;
	.wrap{
		width: 70%;
	}
	.col-md-6{
		margin-bottom: 50px;
	}
	img{
		float: left;
		margin-right: 30px;
	}
	h3{
		font-family: 'OpenSansBold';
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 16px;
	}
	a{
		color: #00baff;
		&:hover{
			color: #00baff;
		}
	}
}

.kto-mi{
	background: #F1F1F1;
	.container{
		padding-top: 50px;
		// width: 50%;
	}
	.row{
		margin-bottom: 50px;
	}
	img{
		display: block;
		margin: 0 auto;
	}
	p{
		height: 190px;
		display: table-cell;
		vertical-align: middle;
	}
	b{
		font-size: 16px;
	}
}

.neskolko-voprosov{
	padding: 50px 0;
	.wrap{
		width: 65%;
	}
	.head-form{
		margin-top: 17px;
		margin-right: 0;
	}
}

.footer{
	margin-top: 20px;
	margin-bottom: 20px;
	a{
		text-align: center;
		display: block;
		text-decoration: underline;
	}
	p{
		text-align: center;
		display: block;
		margin-top: 20px;
	}
}

// ===================================================================================
//    MODAL - стиль модальных окон
// ===================================================================================

.collapse-one{
	.panel-default{
		border-color: #fff;
	}
	.panel-group .panel-heading + .panel-collapse .panel-body{
		border: 0;
	}
	.panel-default > .panel-heading{
		background: none;
		padding: 0;
	}
	.panel{
		box-shadow: none;
	}
	.panel-group .panel + .panel{
		margin-top: 0;
	}
	.panel-title > a{
		display: block;
		padding: 5px 10px;
		text-decoration: none;
		&:focus{
			outline: none;
			outline: none;
		}
	}
	p{
		display: block;
		padding: 5px 10px;
		font-size: 16px;
		margin-bottom: 0;
	}
}

#partner{
	img{
		width: 100%;
		margin-bottom: 20px;
	}
	em{
		text-align: center;
		font-weight: bold;
		display: block;
		font-size: 18px;
		margin-bottom: 20px;
	}
	i{
		text-align: center;
		font-weight: bold;
		display: block;
		font-size: 18px;
		margin-bottom: 20px;
	}
	a.begin{
		text-transform: uppercase;
		text-align: center;
		display: block;
		font-weight: bold;
		font-size: 18px;
	}
	span{
		color: #ff5050;
	}
}

#politica{
	em{
		text-align: center;
		font-weight: bold;
		display: block;
		font-size: 18px;
		margin-bottom: 20px;
	}
}

#contacts{

}

// ===================================================================================
//    POPUP - стиль всплывающих окон
// ===================================================================================

.popup-one,
.popup-two{
	width: 300px;
	margin: 50px auto;
	.popup-head{
		height: 20px;
		width: 100%;
		background: url(../img/bg-head-popup.jpg) repeat-x;
	}
}

.popup-one{
	background: rgba(40, 145, 36, .77);
	form{
		width: 250px;
		margin: 0 auto;
		padding: 15px 0;
	}
	input[type="text"]{
		color: #000;
		border-radius: 2px;
		box-shadow: 1px 2px 3px rgba(255,255,255, .3);
		width: 100%;
		height: 30px;
		text-indent: 13px;
		display: block;
		margin: 0 0 15px 0;
	}
	input[type="submit"]{
		width: 235px;
		height: 56px;
		margin: 10px auto 20px;
		display: block;
		font-size: 18px;
		padding-left: 50px;
		// text-align: center;
		line-height: 51px;
		background: url(../img/bg-button-modal-1.png) 0 0;
		&:hover{
			background: url(../img/bg-button-modal-1.png) 0 -56px;
		}
		&:active{
			background: url(../img/bg-button-modal-1.png) 0 -112px;
		}
	}
	p{
		color: #fff;
		font-size: 12px;
		text-align: center;
	}
}

.popup-two{
	background: rgba(38, 172, 191, .6);
	padding-bottom: 20px;
	i{
		width: 26px;
		height: 26px;
		display: block;
		margin: 20px auto;
		background: url(../img/check.png);
	}
	p{
		text-align: center;
		color: #fff;

	}
	a{
		width: 193px;
		height: 56px;
		margin: 10px auto 20px;
		display: block;
		font-size: 18px;
		// padding-left: 50px;
		line-height: 51px;
		text-align: center;
		background: url(../img/bg-main-form-button.png) 0 0;
		color: #333;
		&:hover{
			background: url(../img/bg-main-form-button.png) 0 -56px;
		}
		&:active{
			background: url(../img/bg-main-form-button.png) 0 -112px;
		}
	}
}

// ===================================================================================
//    //*29.04.2014*/
// ===================================================================================

.close_img{
    width: 20px;
    float: right;
    margin: -9px;
    cursor: pointer;
}
.modal_wrap {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    margin: 0;
    top: 0;
    background-image: url("../img/bg.png");
}
.modal_wrap2 {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    margin: 0;
    top: 0;
    background-image: url("../img/bg.png");
}

.head-form2 {
  width: 236px;
  margin: 100px auto;
}

// ===================================================================================
//    MEDIA QUERIES - медиа запросы для адаптивного дизайна
// ===================================================================================
@import url('media.less'); //медиа запросы

